@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

button {
    border: none;
    outline: none;
    border-radius: 1rem;
    box-shadow: $box-shadow;
    padding: .6rem 2rem;
    background: linear-gradient(90deg, $light 10%, $dark, $light);
    color: $color;
    background: $dark;
    color: $light;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

button:hover {
    background: linear-gradient($dark, $light, $dark);
    color: $color;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    overflow-x: hidden;
    color: $color;
    background: $light;
}

app-root {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

header {
    background: $dark;
    color: #fff;
    z-index: 10;

    nav {
        .nav-container {
            height: 80px;
            padding-inline: 3%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 10;
        }
    }
}

main {
    min-height: calc(100% - 80px);
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (min-width: 700px){
        grid-template-columns: 2fr 1fr;
    }

    .main-section {

        width: 100%;
        background: $light;
        background: linear-gradient(130deg, $light, $dark-alpha, $light);

        @media screen and (min-width: 700px){
            min-height: calc(100% - 80px);
            height: 100%;
        }
       
        section {
            .container {
                padding-inline: 3%;
                padding-block: 2rem;
                position: relative;
            }
        }
    }
    
    aside {
        width: 100%;
        background: linear-gradient($light,$dark,$light);
        background: linear-gradient(50deg, $light, $dark-alpha, $light);
        background: $dark;

        
        @media screen and (min-width: 700px){
            min-height: calc(100% - 80px);
            height: 100%;
        }

        .container {
            padding-inline: 3%;
            padding-block: 2rem;
            position: relative;

            @media screen and (min-width: 700px){
                padding-inline: 6%;
                padding-block: 0 2rem;
            }
        }
    }
}


.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .group {
        width: 100%;

        label {
            width: 100%;
        }

        input,
        textarea {
            margin-top: .7rem;
        }

        input,
        textarea {
            width: 100%;
            border: none;
            outline: none;
            box-shadow: $box-shadow;
            padding: .8rem 1.2rem;
            border-radius: .5rem;
            color: $color;
        }

        textarea {
            resize: none;
            height: 10rem;
        }

        button {
            width: 100%;
        }


    }

}