$light: #e5e7eb;
$dark: #abb2bd;
$dark-alpha: #abb2bd96;
$color: #667282;

/*$light:#fff0db;
$dark: #d9b99b;
$dark-alpha: #d9b99b96;
$color: #667282;

$light: #faf2f4;
$dark: #BE3455;
$dark: #be3454b9;
$color: #667282;*/


$box-shadow: 1px 1px 3px $color;