<header>
  <nav>
    <div class="nav-container">
      <div class="logo">
        <h2>My Blog</h2>
      </div>
      <ul class="desktop" >
        <li><a routerLink="list">Home</a></li>
        <li><a routerLink="create">New Article</a></li>
      </ul>
      <ul class="mobile" [ngClass]="{'mobile-open': open}">
        <li (click)="toggleMenu()"><a routerLink="list">Home</a></li>
        <li (click)="toggleMenu()"><a routerLink="create">New Article</a></li>
      </ul>
      <div class="menu-toggle">
        <fa-icon class="toggle-open" (click)="toggleMenu()" *ngIf="!open" [icon]="openMenu"></fa-icon>
        <fa-icon class="toggle-close" (click)="toggleMenu()" *ngIf="open" [icon]="closeMenu"></fa-icon>
      </div>
    </div>
  </nav>
</header>

<main>
  <div class="main-section">
    <router-outlet></router-outlet>
  </div>

  <aside>
    <div class="container">

      <div class="top-rated">
        <div class="flex">
          <div class="left">
            <h3>Top Rated Article</h3>
            <p>Read our most liked content:</p>
          </div>
          <button *ngIf="this.service.topRated.like > 0" (click)="getDetails(this.service.topRated)">Continue</button>
        </div>
       
        <div *ngIf="this.service.topRated.like > 0" class="top-blog">
          <fa-icon (click)="getDetails(this.service.topRated)" [icon]=blogIcon></fa-icon>
          <div class="top-titles">
            <h4>{{this.service.topRated.title}}</h4>
            <p>{{this.service.topRated.snippet}}</p>
            <p class="show-likes">likes: {{this.service.topRated.like}}</p>
          </div>
        </div>             
      </div>

      <div class="latest">
        <div class="flex">
          <div class="left">
            <h3>Latest Article</h3>
            <p>Read our latest content:</p>
          </div>
          <button *ngIf="this.service.latest.title" (click)="getDetails(this.service.latest)">Continue</button>
        </div>
       
        <div *ngIf="this.service.latest.title" class="top-blog">
          <fa-icon (click)="getDetails(this.service.latest)" [icon]=blogIcon></fa-icon>
          <div class="top-titles">
            <h4>{{this.service.latest.title || ""}}</h4>
            <p>{{this.service.latest.snippet || ""}}</p>
          </div>
        </div>
                   
      </div>


    </div>
  </aside>
</main>

