@import '../styles/variables';

ul.mobile {
    position: absolute;
    width: 0;
    height: calc(100vh - 80px);
    background: $dark;
    color: #fff;
    top: 80px;
    bottom: 0;
    right: -100%;
    left: 100%;
    z-index: 0;
    transition: all .3s ease-in-out;
}

ul.mobile-open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    right: 0;
    left: 0;
    z-index: 9;
}

.toggle-close {
    color: #fff;
    z-index: 11;
}

.menu-toggle {
    display: block;

    @media screen and (min-width: 700px) {
        display: none;
    }
}

ul.desktop {
    display: none;

    @media screen and (min-width: 700px) {
        display: flex;
        gap: 2rem;
    }
}

aside {

    .top-rated {
        padding: 2rem;
        box-shadow: 1px 1px 7px $color;
        border-radius: .5rem;

        .top-blog {
            margin-top: .5rem;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: .5rem;

            fa-icon {
                font-size: .85rem;
                padding: .45rem .65rem;
                border-radius: 50%;
                box-shadow: 1px 1px 7px $color;
                margin-right: 1rem;
                background: linear-gradient($dark, $light, $dark);
            }
            
            button {
                background: $color;
                background: linear-gradient($light, $dark, $light);
                color: $color;
                scale: .9;
                margin-top: 1rem;
            }


        }
    }
}