<header>
  <nav>
    <div class="nav-container">
      <div class="logo">
        <h2>My Blog</h2>
      </div>
      <ul class="desktop" >
        <li><a routerLink="list">Home</a></li>
        <li><a routerLink="list">New Article</a></li>
      </ul>
      <ul class="mobile" [ngClass]="{'mobile-open': open}">
        <li (click)="toggleMenu()"><a routerLink="list">Home</a></li>
        <li (click)="toggleMenu()"><a routerLink="create">New Article</a></li>
      </ul>
      <div class="menu-toggle">
        <fa-icon class="toggle-open" (click)="toggleMenu()" *ngIf="!open" [icon]="openMenu"></fa-icon>
        <fa-icon class="toggle-close" (click)="toggleMenu()" *ngIf="open" [icon]="closeMenu"></fa-icon>
      </div>
    </div>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
