<section>
    <div class="container">
        <div *ngIf="this.service.isMessage" class="popup">
            <p>{{this.service.message}}</p>
        </div>

        <button (click)="goToCreate()">Add new article</button>

        <div class="search">
            <input [(ngModel)]="filterText" (ngModelChange)="filter()" type="text" placeholder="Find a snippet ...">
        </div>

        <div *ngFor="let b of this.service.blogItems" class="blog-item">
            <div class="blog-text">
                <h2> <fa-icon [icon]=blogIcon></fa-icon> {{b.title}} <span></span></h2>
                <p>{{b.snippet}}</p>
                <button (click)="getDetails(b)">Read More</button>
            </div>
            <div class="img-div">
                <img src="{{b.picture}}" alt="">
            </div>
        </div>
    </div>
</section>